/* Color Palette Codes:
* #2C3531 - Dark Gray color
* #116466 - Teal Blue/Green
* #D9B08C - Darker Tan
* #FFCB9A - Lighter Tan
* #D1E8E2 - Steel Blueish color
*/

/* Global Styles
-------------------------------*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #D1E8E2;
    margin: 0;
    padding:0;
    font-family:'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 1.75;
}
img {
    width:300px;
}

a {
    color:#B19994;
}
a:hover {
    text-decoration: none;
}
h1 {
    font-size: 100px;
    line-height: 1;
    text-shadow: 5px 2px black;
}
h2 {
    font-size: 40px;
}
h1,h2 {
    font-family: 'Quintessential', cursive;
    font-weight: 400;
    margin: 0;
}

.content-wrap{
    width: 800px;
    margin: 0 auto;
    padding: 60px 0;
}

/* Profile
-------------------------------*/
header {
    background: #116466;
    padding-left: 5px;
    padding-right: 2px;
}
.dreamer {
    text-shadow: 2px 2px black;
}
.quote {
    font-style: italic;
    font-size: 12px; 
    margin: 0;
    

}
/* Projects
-------------------------------*/
.projects {
    background: #D1E8E2;
    color: #116466;
    padding-left: 5px;
    padding-right: 2px;
}
.projects a {
    color: #2C3531;
    font-size: 14px;
}

.projects .btn {
    color: #FFCB9A;
    background: #2C3531;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display:inline-block;
}
.projects .btn:hover {
    background: rgba(52, 52, 52, 80%);
}
.project-item {
    overflow: hidden;
    border-bottom: 3px double #D9B08C;
    padding: 25px 0;
}

.project-item img {
    float: left;
    margin-right: 20px;
}
.project-item h3{
    margin-top: 0;
}
/* Work Experience
-------------------------------*/
.work-experience {
    background: #116466;
    color: #f7fff7;
    padding-left: 5px;
    padding-right: 2px;
}
/* Education
-------------------------------*/
.education {
    background: #D1E8E2;
    color: #116466;
}
/* Contact Info
-------------------------------*/
footer {
    font-size: 12px;
    background: #2c3531;
    color: #116466;
}

footer a {
    text-decoration: none;
}